*.DS_Store
hw1/*data
hw1/*data/
hw1/!.gitignore
hw1/README.txt
hw3/*data
hw3/*data/
hw3/!.gitignore
hw3/README.txt
hw4/README.txt
hw4/data_wine.mat
hw5/README.txt
hw5/data/titanic/titanic_testing_data.csv
hw5/data/titanic/titanic_training.csv
hw5/decision_tree_starter.py
hw5/data/spam_data/spam_data.mat
hw6/.ipynb_checkpoints
hw6/datasets
hw6/experiments
hw6/tests
hw6/neural_networks/__pycache__
hw6/neural_networks/utils/__pycache__
hw6/README.txt
hw7/README.txt
